/*buttons size style*/
$input-btn-padding-y: 5px;
$input-btn-padding-x: 5px;

$navbar-toggler-padding-y: 5px;
$navbar-toggler-padding-x: 5px;

$navbar-toggler-focus-width: 0;

$nav-link-color: darkblue;

$offcanvas-vertical-height: 100px;
$zindex-offcanvas: 1050;

$list-group-bg: none;

$enable-shadows: true;