/* @import "../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/brands.css"; */


:root {
    --main_color_1: rgb(0, 128, 0);
    --main_color_2: rgb(204, 154, 41);
    --main_bg_color_1: rgba(0, 128, 0, 0.33);
    --main_bg_color_11: rgba(0, 128, 0, 0.5);
    --main_bg_color_111: rgba(0, 128, 0, 0.66);
    --main_bg_color_2: rgba(204, 154, 41, 0.33);
    --main_bg_color_22: rgba(204, 154, 41, 0.5);
    --main_bg_color_222: rgba(204, 154, 41, 0.66);
    --floreil-font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    font-family: var(--floreil-font-family);
    min-width: 280px;
}

section {
    padding: 25px 0;
}
p{
    margin-top: auto;
    margin-bottom: auto;
}

/*setting backgrounds for site's sections*/
header {
    background: linear-gradient(to bottom, var(--main_bg_color_2) 0%, var(--main_bg_color_22) 100%), url(../images/scott-webb-pots-in-a-row-org-top.jpg);
    background-size: auto 100%;
}

.modal-footer{
    padding-top: 24px;
    padding-bottom: 8px;
    background: /* linear-gradient(to bottom, var(--main_bg_color_222) 0%, #00000050 100%),  */url(../images/scott-webb-pots-in-a-row-gvr.jpg);
    background-size: auto 100%;
}
.modal-header {
    padding-top: 8px;
    padding-bottom: 24px;
    background: /* linear-gradient(to bottom, var(--main_bg_color_222) 0%, #00000050 100%),  */url(../images/scott-webb-pots-in-a-row-org-top-down.jpg);
    background-size: auto 100%;
}

#search_section,
#prefooter_section,
.intersection {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: solid 2px var(--main_color_1);
    border-top: solid 2px var(--main_color_1);
    z-index: 1049;
    background: linear-gradient(to right, var(--main_bg_color_11) 0%, var(--main_bg_color_22) 50%, var(--main_bg_color_11) 100%), url(../images/bg-img-leaf-scott-webb.png);
    background-size: cover;
    background-attachment: fixed;
}
#footer, #breadcrumbs {
    background: linear-gradient(to right, var(--main_bg_color_222) 0%, var(--main_bg_color_111) 50%, var(--main_bg_color_222) 100%);
}
#breadcrumbs{
    padding: 0;
}
.breadcrumb{
    margin: 0;
}
.breadcrumb button{
    margin: 0;
    padding: 0;
}

#video_section,
#ads_carousel {
    background: linear-gradient(to bottom, var(--main_bg_color_22) 0%, var(--main_bg_color_11) 100%);
}

.modal-body {
    background: linear-gradient(to bottom, var(--main_bg_color_22) 0%, var(--main_bg_color_11) 50%, var(--main_bg_color_22) 100%);
}

#reset_password_section,
#signup_section,
#login_section {
    background: linear-gradient(to bottom, var(--main_bg_color_1) 0%, var(--main_bg_color_2) 100%);
}

#commerciale {
    background: linear-gradient(to bottom, var(--main_bg_color_11) 0%, var(--main_bg_color_22) 100%);
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/

/*technical and decoration classes (content separators etc)*/
.modal-title {
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

#logo {
    background: radial-gradient(ellipse at center, #ffffff75 0%, #cc9a2900 85%);
}

.carousel-caption {
    background: radial-gradient(ellipse at center, #000000 0%, #00000000 75%);
}

#header a,
#search_section a,
#prefooter_section a {
    text-decoration: none;
}
.card{
    background-color: transparent;
    border: transparent;
}
.card_shadow{
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 1);
}
.card-title-height{
    height: 75px;
}
.card-text{
    margin-top: 20px;
    margin-bottom: 20px;
}

.florei_vert_separator {
    background-color: var(--main_color_1);
    box-shadow: 1px 1px 2px black;
    width: 5px;
}


.florei_brun_separator {
    background-color: var(--main_color_2);
    border: solid thin var(--main_color_1);
    box-shadow: 0px 0px 2px 0px black;
    min-width: 5px;
    width: 5px;
}
.separator_adjustible{
    width: 100%;
}
.grad-to-left{
    background: linear-gradient(to right, var(--main_color_2) 0%, var(--main_color_1) 100%);
}
.grad-to-right{
    background: linear-gradient(to right, var(--main_color_1) 0%, var(--main_color_2) 100%);
}

.intersection {
    height: 20px;
}

.carousel{
    max-height: 500px;
}


#search {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
}

.text-shadow::before {
    text-shadow: 0px 0px 2px 0px black;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*classes for rotation, scripts and hovering the cards*/
.card_text_link{
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.rotatable_y_0_to_180 {
    transform: rotateY(0deg);
    opacity: 1;
    transition: all 0.5s;
}

.rotatable_y_180_to_0 {
    transform: rotateY(180deg);
    color: black;
    opacity: 0;
    transition: all 0.5s;
}
.rot_y_180_toggler:hover .rotatable_y_0_to_180 {
    transform: rotateY(180deg);
    opacity: 0;
    transition: all 0.5s;
}

.rot_y_180_toggler:hover .rotatable_y_180_to_0 {
    transform: rotateY(0deg);
    opacity: 1;
    transition: all 0.5s;
}
.rot_y_180_toggler:hover .card_text_link{
    height: auto; 
    opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

.rotatable_z_0 {
    transform: rotateZ(0deg);
    transition: all 0.3s ease-in-out;
}

.rotatable_z_90 {
    transform: rotateZ(90deg);
    transition: all 0.3s ease-in-out;
}

.rotatable_z_180 {
    transform: rotateZ(180deg);
    transition: all 0.3s ease-in-out;
}
/*----------------------------------------------------------------------------------------------------------*/

/*video parameters*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-------------------------------------------------------------------------------------------------------*/

/*sizes and colors*/
.color_1 {
    color: var(--main_color_1);
}

.color_2 {
    color: var(--main_color_1);
}

.bg_color_1 {
    background-color: var(--main_bg_color_1);
}

.bg_color_11 {
    background-color: var(--main_bg_color_11);
}

.bg_color_2 {
    background-color: var(--main_bg_color_2);
}

.bg_color_22 {
    background-color: var(--main_bg_color_22);
}

.huge {
    height: 52px;
    width: 52px;
}

.big {
    height: 44px;
    width: 44px;
}

.medium {
    height: 36px;
    width: 36px;
}

.small {
    height: 28px;
    width: 28px;
}
/*----------------------------------------------------------------------------------------------------*/

/*bootstrap's boutons classes modified*/
.btn {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
}

.btn:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 1);
}

.btn:hover .text-shadow {
    text-shadow: 0px 0px 3px 0px black;
}

.btn-header {
    --bs-btn-color: var(--main_color_1);
    --bs-btn-bg: var(--main_bg_color_22);
    --bs-btn-border-color: var(--main_bg_color_22);
    --bs-btn-hover-color: var(--main_color_1);
    --bs-btn-hover-bg: var(--main_bg_color_222);
    --bs-btn-hover-border-color: var(--main_bg_color_222);
    --bs-btn-active-color: var(--main_color_2);
    --bs-btn-active-bg: var(--main_bg_color_111);
    --bs-btn-active-border-color: var(--main_color_1);
}

.btn-additional {
    --bs-btn-color: var(--main_color_1);
    --bs-btn-bg: var(--main_bg_color_222);
    --bs-btn-border-color: var(--main_bg_color_222);
    --bs-btn-hover-color: var(--main_color_1);
    --bs-btn-hover-bg: var(--main_bg_color_222);
    --bs-btn-hover-border-color: var(--main_bg_color_222);
    --bs-btn-active-color: var(--main_color_2);
    --bs-btn-active-bg: var(--main_bg_color_111);
    --bs-btn-active-border-color: var(--main_bg_color_2);
}

.btn-social-media {
    --bs-btn-color: var(--main_color_1);
    --bs-btn-bg: var(--main_color_2);
    --bs-btn-border-color: var(--main_color_2);
    --bs-btn-hover-color: var(--main_color_1);
    --bs-btn-hover-bg: var(--main_bg_color_222);
    --bs-btn-hover-border-color: var(--main_bg_color_222);
    --bs-btn-active-color: var(--main_color_2);
    --bs-btn-active-bg: var(--main_color_1);
    --bs-btn-active-border-color: var(--main_color_1);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 1);
}

#collapse_toggler_header {
    color: var(--main_color_2);
    background-color: var(--main_bg_color_111);
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
}

.btn-link {
    box-shadow: none;
    text-decoration: underline;
}

.btn-link:focus-visible {
    box-shadow: none;
}

.btn-link:hover {
    box-shadow: none;
}